/* Main body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e5b20b, #de6e50);
  color: azure;
  font-family: 'Raleway', sans-serif;
  min-height: 100VH;
}

.main {
  display: flex;
  flex-direction: column;
}

/* Header i form */

header, form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

header {
  gap: 20px;
  flex-direction: column;
  font-size: 2rem;
  margin: 20px 20px;
}

h5 {
  justify-content: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: azure;
}

form button {
  color: #de6e50;
  background: azure;
  cursor: pointer;
  transition: all;
  min-width: 55px;
}

form button:hover {
  color: azure;
  background: #de6e50;
}

/* Wynik */
.wynik-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 0 20px;
  align-items: center;
}

.resultList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  justify-content: center;
}
.oneResultChar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100px;
  transition: all 0.5s ease;
}

.numberField, .charField {
  background-color: azure;
  color: black;
  font-size: 2.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
}

.numberField {
  background-color: lightgray;
  font-size: 1.7rem;
  padding: 7px;
}

.charField {
  padding-top: 5px;
}

.numberField li, .charField li {
  flex: 1;
}

.checkButton, .deleteButton {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
}

.checkButton {
  background-color: #13b631;
  color: azure;
}

.checkButton:hover {
  background-color: azure;
  color: #13b631;
}

.deleteButton {
  background-color: #ef562b;
  color: azure;
}

.deleteButton:hover {
  background-color: azure;
  color: #ef562b;
}

.fa-check, .fa-trash, .fa-magnifying-glass {
  pointer-events: none;
}

.wybrana {
  background-color:palegreen;
  width: 100px;
  height: 100px;
  font-size: 5rem;
  transition: all 0.2s ease;
  /* pointer-events: none; */
}

.skasowana {
  color: gray;
}

.przezroczysta {
  opacity: 0.2;
}

.ukryty {
  display: none;
  z-index:-1;
}